/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

body {
  /* font-size: 16px/26px; */
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
  border-bottom: 20px solid grey;
}

.main-container {
  display: flex;
  justify-content: center;
  padding: 0 100px;
}

.left-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.mobile-display-container {
  display: none;
  width: auto;
}

.mobile-display-container img {
  width: 100%;
}

.footer-container {
  border-top: 20px solid grey;
}

.header-container,
.footer-container
 {
  background: #F9A800;
}

.title {
  color: #2B2B2C;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.footer-container footer {
  color: #2B2B2C;
  padding: 20px 0;
}

/* ===============
  ALL: IE Fixes
  =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.title {
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: 900;
}

.title img {
  height: 37px;
}

.title span {
  margin-left: 10px;
}

.sub-text {
    font-weight: 400;	
    font-size: 1.5em;
}

.getTheApp-image {
  width: 180px;
  margin-top: 10px;
}

.container{
  margin-bottom: 30px;
}

.github {
  margin-top: 1px;
}

.github a {
  text-decoration-line: none;
}

.github img {
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

.github div {
  margin-top: 10px;
  display: inline-block;
  vertical-align: sub;
}

/* ==========================================================================
  Media Queries
  ========================================================================== */

@media only screen and (max-width: 767px) {
  .right-container {
    display: none;
  }

  .mobile-display-container {
    display: block;
  }

  .main-container {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 768px) {
  .right-container {
      display: block;
      margin-top: 30px;
  }

  .mobile-display-container {
    display: none;
  }
  
  .header-container {
    -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
            box-shadow: 0 5px 10px #aaa;
  }
}

@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .right-container {
    display: none;
  }
  .mobile-display-container {
    display: block;
  }
  .main-container {
    padding: 0 10px;
  }
}


/* mailchimp */
#mc_embed_signup_scroll {
  /* margin-top: 100px; */
}

#mc_embed_signup_scroll label {
  margin-top: 5px;
  display: block;
}

#mc_embed_signup_scroll input {
  
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  display: inline-block;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

#mc_embed_signup input {
  display: inline-block;
}